<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Logo_Gourmet.png" alt="">
      </div>
      <div class="card-content">
        <p>Gracias for tu solicitud <%= @name %> <%= @lastname %> </p>
        <p>Te contactaremos tan pronto tengamos una respuesta</p>
      </div>
      <div class="card-action">
        <a href="www.facebook.com" target="_blank">Facebook</a>
        <a href="www.twitter.com" target="_blank">Twitter</a>
      </div>
    </div>
  </div>
</div>
