<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Logo_Gourmet.png" alt="">
        <span class="card-title activator grey-text text-darken-4">Resetear el password</span>
      </div>
      <div class="card-content">
        <p>Hola señor/a: <%= @resource.name %></p>
        <p>Alguien ha solicitado resetear el password, si usted fue siga el link de abajo para poder realizarlo.</p>
        <p>En dado caso que usted no haya solicitado este cambio por favor solo ignore el correo.</p>
      </div>
      <div class="card-action">
        <p><%= link_to "Resetear el password", edit_password_url(@resource, reset_password_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url'].to_s).html_safe %></p>

      </div>
    </div>
  </div>
</div>
